/lab3/nbproject/private/
/lab3/build/
/lab4/nbproject/private/
/lab4/build/
/lab5/nbproject/private/
/lab5/build/
/lab6/nbproject/private/
/lab6/build/
/lab7/nbproject/private/
/lab7/build/
/test/nbproject/private/
/test/build/